<div class="container">

  <div class="employee-detail-header">
    <h2>{{ employee.firstname + ' ' + employee.lastname }}</h2>
    <mat-divider></mat-divider>
  </div>

  <div>
    <mat-list>
      <mat-list-item *ngFor="let todo of employee.todos" [ngClass]="getTodoClass(todo)">
        <div class="todo-item">
          <div>
            <h4>{{ todo.title }}</h4>
          </div>
          <span class="spacer"></span>
          <div>
          <mat-form-field>
              <mat-select [(value)]="todo.state" (selectionChange)="updateStatus(todo, $event.value)">
                <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
              <button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
