@if (employee) {
<div class="container">
  <div class="employee-detail-header">
    <h2>{{ employee.firstname + ' ' + employee.lastname }}</h2>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item matTooltip="Todo für Mitarbeiter erstellen" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
        <span>Todo</span>
      </button>
      <button mat-menu-item matTooltip="Mitarbeiter bearbeiten" (click)="openDialogEditEmployee()" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
        <span>Bearbeiten</span>
      </button>
      <button mat-menu-item matTooltip="Mitarbeiter löschen" matTooltipPosition="above" (click)="deleteEmployee()" color="warn">
        <mat-icon>delete</mat-icon>
        <span>Löschen</span>
      </button>
    </mat-menu>

  </div>
  <mat-divider></mat-divider>

  <div>
    <mat-list>
      <mat-list-item *ngFor="let employeeTodo of employee.todos" [ngClass]="getTodoClass(employeeTodo.state)" class="todo-list-item">
        <div class="todo-item">
          <div>
            <h4>{{ employeeTodo.todo.title }}</h4>
          </div>
          <span class="spacer"></span>
          <div class="actions">
            <mat-form-field>
              <mat-select [(value)]="employeeTodo.state" (selectionChange)="updateStatus(employeeTodo, $event.value)">
                <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button [routerLink]="['/employees', employee.id, 'todos', employeeTodo.id]">
              <mat-icon>menu_open</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
}
