<div class="container">
  <div class="employee-detail-header">
    <h2>{{ employee.firstname + ' ' + employee.lastname }}</h2>
    <mat-divider></mat-divider>
  </div>

  <div>
    <mat-list>
      <mat-list-item *ngFor="let employeeTodo of employee.todos" [ngClass]="getTodoClass(employeeTodo.state)" class="todo-list-item">
        <div class="todo-item">
          <div>
            <h4>{{ employeeTodo.todo.title }}</h4>
          </div>
          <span class="spacer"></span>
          <div class="actions">
            <mat-form-field>
              <mat-select [(value)]="employeeTodo.state" (selectionChange)="updateStatus(employeeTodo, $event.value)">
                <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button [routerLink]="['/employees', employee.id, 'todos', employeeTodo.todo.id]">
              <mat-icon >edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
