@if(employeeTodo) {
<div class="container">
  <div>
    <h2>{{ employeeTodo.todo.title }}</h2>
    <mat-divider></mat-divider>
  </div>

  <div>
    <span>Status: {{ employeeTodo.state }}</span>
  </div>

  <div class="description-area">
    <form [formGroup]="descriptionform" class="description-form">
      <mat-form-field class="description-field">
        <textarea matInput placeholder="Bemerkung" formControlName="description"></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="saveDescription()">Speichern</button>
    </form>
  </div>

  <div class="type-content">
    @switch (employeeTodo.todo.type) {
      @case (TYPE.TEXT) {
        <app-todo-detail-text [textContent]="employeeTodo.todo.content"></app-todo-detail-text>
      }
      @case (TYPE.MAIL) {
        <app-todo-detail-mail [emailContent]="employeeTodo.todo.content"></app-todo-detail-mail>
      }
      @case (TYPE.LINK) {
        <app-todo-detail-link [linkContent]="employeeTodo.todo.content"></app-todo-detail-link>
      }
    }
  </div>
</div>
}
