<div class="dialog">
<h2>Neuen Mitarbeiter erfassen</h2>
  <mat-dialog-content>
    <form [formGroup]="newEmployeeFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Vorname:</mat-label>
        <input matInput type="text" formControlName="firstname">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nachname:</mat-label>
        <input matInput type="text" formControlName="lastname">
      </mat-form-field>
    </form>
    <mat-dialog-actions class="actions">
      <button mat-raised-button color="accent" (click)="onSubmit()">Speichern</button>
    </mat-dialog-actions>
  </mat-dialog-content>

</div>
