@if (todo) {
  <div class="container border rounded-2xl shadow-xl p-6 flex flex-col">

    <!-- Header -->
    <div class="flex items-center py-2">
        <button mat-icon-button [routerLink]="['/checklist', todoId]">
          <mat-icon>arrow_back</mat-icon>
        </button>
      <p class="text-xl font-bold">{{ todo.title }}</p>
      <span class="spacer"></span>
    </div>
    <mat-divider class="py-4"></mat-divider>

    <form [formGroup]="checklistTodoFormgroup" class="flex flex-col">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Titel</mat-label>
        <input matInput type="text" formControlName="title">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-select formControlName="type" placeholder="Typ">
          <mat-option *ngFor="let type of types" [value]="type" type="text"
                      (selectionchange)="changeTypeForEdit()">{{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      @switch (checklistTodoFormgroup.controls['type'].value) {
        @case (TYPE.TEXT) {
          <mat-form-field class="w-full">
              <textarea matInput formControlName="content" cdkTextareaAutosize cdkAutosizeMinRows="20"
                        cdkAutosizeMaxRows="100" placeholder="Inhalt"></textarea>
          </mat-form-field>
        }
        @case (TYPE.MAIL) {
          <mat-form-field class="w-full">
              <textarea matInput formControlName="content" cdkTextareaAutosize cdkAutosizeMinRows="20"
                        cdkAutosizeMaxRows="100" placeholder="Inhalt"></textarea>
          </mat-form-field>
        }
        @case (TYPE.LINK) {
          <div class="w-full flex flex-col justify-center items-center space-x-4">
            <div>
              <mat-form-field class="w-1/2 mr-5">
                <input matInput formControlName="content">
              </mat-form-field>
              <button mat-raised-button color="warn" (click)="addToTodoContent()">Link hinzufügen</button>
            </div>
            @for (link of linkContentArr; track link; let i = $index) {
              <div class="flex items-center">
                <a href="{{link}}" target="_blank" rel="noopener noreferrer" class="font-bold">{{ link }}</a>
                <button mat-icon-button (click)="removeLink(i)"><mat-icon color="warn">highlight_remove</mat-icon></button>
              </div>
            }
          </div>
        }
      }
    </form>
    <div>
      <button mat-raised-button color="primary" (click)="updateChecklistTodo()" class="float-end">Speichern</button>
    </div>
  </div>
}

