// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$custom-accent-palette: mat.m2-define-palette((
  50: #388087,
  100: #388087,
  200: #388087,
  300: #388087,
  400: #388087,
  500: #388087,
  600: #388087,
  700: #388087,
  800: #388087,
  900: #388087,
  A100: #388087,
  A200: #388087,
  A400: #388087,
  A700: #388087,
  contrast: (
    50: #F6F6F2,
    100: #F6F6F2,
    200: #F6F6F2,
    300: #F6F6F2,
    400: #F6F6F2,
    500: #F6F6F2,
    600: #F6F6F2,
    700: #F6F6F2,
    800: #F6F6F2,
    900: #F6F6F2,
    A100: #F6F6F2,
    A200: #F6F6F2,
    A400: #F6F6F2,
    A700: #F6F6F2,
  )
));

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Ready4Work-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$Ready4Work-accent: mat.m2-define-palette(mat.$m2-red-palette);

// The warn palette is optional (defaults to red).
$Ready4Work-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Ready4Work-theme: mat.m2-define-light-theme((
  color: (
    primary: $Ready4Work-primary,
    accent: $Ready4Work-accent,
    warn: $Ready4Work-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Ready4Work-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Kan, "", sans-serif; }

.container {
  max-width: 50%;
  margin: 1rem auto auto;
}
.spacer {
  flex: 1 1 auto;
}
