@if (todo) {
  <div class="container">
    <!-- Header -->
    <div class="flex flex-row items-center">
      <p class="text-xl font-bold">{{ todo.title }}</p>
      <span class="spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Todo bearbeiten" matTooltipPosition="above" [routerLink]="['/checklist/' + todoId + '/edit']">
          <mat-icon>edit</mat-icon>
          <span>Todo bearbeiten</span>
        </button>
        <button mat-menu-item matTooltip="Todo löschen" matTooltipPosition="above" (click)="deleteTodo()">
          <mat-icon>delete</mat-icon>
          <span>Todo löschen</span>
        </button>
      </mat-menu>
    </div>
    <mat-divider></mat-divider>

  </div>
}
